
.vehicules-wrapper {
  background: linear-gradient(180deg, #FFD700 1%, #eefeec 5%);
  min-height: 100vh;
}


.catalogue-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.filter-panel {
  flex: 1 1 200px;
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  min-width: 250px;
}

.filter-panel h3 {
  margin-bottom: 1rem;
}

.filter-panel select,
.filter-panel input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.vehicules-list {
  flex: 3 1 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.vehicule-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 260px;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.vehicule-card:hover {
  transform: scale(1.02);
}

.vehicule-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.vehicule-card h4 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #222;
}

.vehicule-card p {
  margin: 0.2rem 0;
  color: #444;
}

.vehicule-card .prix {
  color: #FFD700;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

